@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: Roboto;
  background: #f5f5f5;
}

.header-section-number::after {
  content: ".";
}

.toc-content.col-xs-12.col-sm-8.col-md-9{
  background: white;
}

.main-container{
  max-width: 1500px;
}

h1 {
  color: rgb(105,138,232);
  font-size: 200%;
  font-weight: bold;
}

.title {
  text-align: center;
  font-weight: bold;
  background: #f3f3ff;
  padding: 20px;
}

.subtitle {
  color: rgb(105,138,232);
  text-align: center;
  font-weight: bold;
  background: #f3f3ff;
  margin-top: -10px;
  padding: 10px;
}

.author{
  text-align: center;
  background: #f3f3ff;
  margin-top: -10px;
  padding: 10px;
}

.date{
  text-align: center;
  background: #f3f3ff;
  margin-top: -10px;
  padding: 10px;
}

h2 {
  color: rgb(22, 187, 44);
  font-size: 180%;
  font-weight: bold;
}

h3 {
  font-size: 150%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

.watermark {
  opacity: 0.2;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 500%;
  color: #00407d;
}

/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 50px;
  margin-bottom: 10px;
  background-image: url("logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/*------------Table of Contents (TOC)----------- */

.tocify {
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
  font-size: 16px;
  overflow: hidden;
  max-height: 100%;
  padding: 5px;
}

.tocify-extend-page {
  height: 100px !important; 
}

.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px !important;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}
